.section-main__title {
  margin: 0;
  font-size: 60px;
  font-weight: 400;
}

.section-main__title-aux {
  display: none;
  font-size: 40px;
  font-weight: 700;
}

.section-main__cont-form {
  margin: 14px 0 0 0;
}
@media (min-width: 1200px) {
  .section-main__cont-form {
    margin: 29px 0 0 0;
  }
}
.section-main__form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-width: 334px;
}
@media (min-width: 1200px) {
  .section-main__form {
    max-width: 698px;
  }
}
.section-main__input,
.section-main__otro-input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  height: 73px;
}

.section-main__cont-input {
  display: flex;
}

.section-main__img-button,
.section-main__otro-img-button {
  width: 48px;
  height: 48px;
  position: relative;
  right: 55px;
  top: 10px;
}
